{% extends 'basic.html' %}

{% block content %}

<h1>Ого, регистрация!</h1>
<h3>Подай себя и все свои документы здесь:</h3>
<form action="submit">
    {% csrf_token %}  
    <a>Ваш ник</a>   
    <input type="text" name="Username"/>
    <a>Эл. почта</a>    
    <input type="email" name="Email"/>
    <a>Пароль</a>       
    <input type="password" name="Password" required minlength="3">
    <a>Подтвердить пароль</a>       
    <input type="password" name="Confirm"><br>
    <input type="submit" value="Отправить!">
</form>

{% endblock %}

{% block bottom %}
<h4><a href="{% url 'basic' %}">Убежать!</a> <a href="{% url 'mkdish' %}">Дать еды!</a> <a href="">Полить цветы!</a></h4>
{% endblock %}